@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 15px 0;
  color: #3982e2;
  background: #fff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    background: #3982e2;
    color: #fff;
  }
}
.card {
  width: 50%;
  margin: 20px auto 10px;

  &_item {
    padding: 20px 25px;
    border: 1px solid #e2e7ea;
  }
  &_title {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #3580e1;
    line-height: 1.5;
  }
  &_visible {
    padding: 0 8px;
    border-radius: 15px;
    border: 1px solid #c9ccce;
    line-height: 1.5;
    font-size: 14px;
  }
  &_description {
    margin: 10px 0 15px 0;
    line-height: 1.5;
  }
}
.topic {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 12px;
  &_item {
    margin: 5px 5px;
    padding: 0 10px;
    line-height: 1.5;
    border-radius: 15px;
    font-size: 14px;
    color: #3580e1;
    background: #ddf4ff;
  }
}
