
button{
  width: 80px;
  border: 1px solid #000;
  background: #fff;
  line-height: 1.5;
  margin: 10px 20px 10px 10px;
  font-size: 20px;
}
.wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  font-size: 20px;
}
.addCounter{
  width: 160px;
  margin-top: 30px;
}